rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /notificationTokens/{docId} {
      allow read, create, update, delete: if true;
    }

    match /notificationTests/{docId} {
      allow read, create: if true;
      allow update, delete: if false;
    }

    match /notificationPreferences/{docId} {
      allow read, create, update, delete: if true;
    }

    match /{document=**} {
      allow read: if true;
      allow write: if signedIn();
    }
  }
}
